@model Booking

<form asp-action="Form" method="post">
    <label asp-for="BookingDateTime">@Model.BookingDateTime.</label><input type="hidden" asp-for="BookingDateTime" value="@Model.BookingDateTime" /><br />
    <input type="hidden" asp-for="BookingID" value="@Model.BookingID" />
    <label asp-for="GroupName">Name of Group:</label><input type="text" id="groupname" asp-for="GroupName" value="" /><br />
    <label asp-for="GroupSize">Size of Group:</label><input type="number" id="groupsize" asp-for="GroupSize" value="" /><br />
    <label asp-for="GroupEmail">Email Address:</label><input type="text" id="groupemail" asp-for="GroupEmail" value="" /><br />
    <label asp-for="GroupPhone">Phone Number (optional):</label><input type="text" id="groupphone" asp-for="GroupPhone" value="" /><br />
    <button type="submit" class="btn btn-success">Submit</button>
</form>