@{
    ViewData["Title"] = "Tour Form";
}
@model BookingListViewModel

<div class="text-center" style="font-family:Garamond;">
    @foreach (var x in Model.Bookings)
    {
        <partial name="FormPost" model="x" />
    }
</div>