@{
    ViewData["Title"] = "Layton Temple Tours";
}

<div class="text-center">
    <h1 class="display-4">Layton Temple Tours</h1>
    <br />
    <p>Welcome to Layton Temple Tours! The Layton Temple grounds are open to the public for tours. To schedule a tour, start by clicking the button below.</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="SignUp">Sign Up</a>
    <br /><br /><hr />
    <p>The Layton Utah Temple is one of the newest temples that has been opened for public tours. The temple was announced on April 1, 2018, and had its groundbreaking on May 23, 2020 by Craig. C. Christensen.</p>
    <img style="width:50%" src="~/img/laytontemple.jpg" />
</div>