@{
    ViewData["Title"] = "Tour Schedule";
}

@model BookingListViewModel

<div class="text-center" style="font-family:Garamond;">
    <table class="table table-bordered list-group-horizontal-lg">
        <thead>
            <tr style="color:forestgreen">
                <th>Timeslot</th>
                <th>Booking</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Bookings)
            {
                if (x.GroupName == "Available")
                {
                    <form method="post" asp-action="SignUp">
                        <table>
                            <tr>
                                <td><input type="datetime" value="@x.BookingDateTime" readonly /></td>
                                <td><button type="submit">Book Tour</button></td>
                            </tr>
                        </table>
                    </form>
                }
            }
        </tbody>
    </table>
</div>