@{
    ViewData["Title"] = "Tour Schedule";
}

@model BookingListViewModel
<p>@Model.Bookings</p>

<div class="text-center" style="font-family:Garamond;">
    <table class="table table-bordered list-group-horizontal-lg">
        <thead>
            <tr style="color:forestgreen">
                <th>Timeslot</th>
                <th>Booking</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Bookings)
            {
                <partial name="SignPost" model="x" />
            }
        </tbody>
    </table>
</div>